/* ======== header =========== */
.headerLayout {
    display: flex;
    width: 80%;
    padding: 1rem;
}
.logoBox {
    width: 5%;
    margin-right: 0.5rem;
    background-color: blueviolet;
    border: 1px solid red;
}
.searchBar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
    padding: 1rem;
    border: 1px solid blueviolet;
}
.searchInput {
    width: 30%;
    padding: 1rem;
    margin-right: 0.5rem;
    border: 1px solid red;
    border-radius: 0.5rem;
}
.searchButton{
    width: 10%;
    border: 1px solid red;
    border-radius: 0.5rem;
}

/* ============= Top Rated Section ================= */
.topRated{
    display: flex;
    flex-direction: column;
}
.movieList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    border: 1px solid blueviolet;
}
.movieCard
>img:first-child{
    align-self: center;
}
.poster{
    width: 65%;
    border-radius: 0.5rem;
}
.vote_average {
    color: red;
}