body {
  background-color: #640ff310;
}
/* ------- 네비게이션
                영역 ------- */
.navigation {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 9rem;
  background-color: white;
  box-shadow: 0rem 0.1rem 1rem #00000050;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  padding: 1rem;
}
.logo-image {
  width: 5rem;
}
.logo-title {
  color: #640ff380;
  font-family: "Courier New", Courier, monospace;
}
.logo-title:hover {
  color: #644ff390;
}

/* ------- 메인 세부내용
                영역 ------- */

.main-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    "a b"
    "a b";
  width: 100vw;
  height: calc(100vh - 9rem);
  padding: 2rem 10%;
}

.movie-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  grid-area: a;
}

.movie-image-wrap {
  width: 100%;
  margin: 12px 0;
}
.backdrop-image {
  width: 100%;
  object-fit: cover;
}
.movie-info-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.movie-title-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.movie-title {
  font-size: 2rem;
  margin-right: 12px;
}
.movie-original-title {
  font-weight: 500;
}
.sub-info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 400;
}
.overview {
  line-height: 2rem;
}

.review-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: b;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-radius: 10px;
  padding: 1rem 5rem;
  background-color: #00000010;
}
.review-wrap > h2 {
  margin-bottom: 12px;
}
.review-input-wrap {
  display: flex;
  flex-direction: column;
}
.review-text {
  border: 1px solid blueviolet;
  resize: none;
}
.review-button-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.review-button-wrap > button {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}
.review-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.review-list::-webkit-scrollbar {
  display: none;
}
.review-card {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #00000020;
}
.review-user {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #ffffff;
}
.review-content {
  font-size: 1.5rem;
  word-break: break-all;
  white-space: pre-line;
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 10px;
  }
  /* .movie-image-wrap {
    width: 60%;
  } */
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
  .movie-image-wrap {
    width: 100%;
    align-self: center;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .main-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    grid-template-areas:
      "a a"
      "b b";
    width: 100vw;
    padding: 1rem 10%;
  }
  .sub-info-wrap {
    flex-direction: column;
  }
  .sub-info-wrap > span {
    margin-bottom: 1rem;
  }
  .review-list {
    overflow: visible;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .movie-image-wrap {
    grid-area: a;
    width: 100%;
    margin: 12px 0;
  }
  .main-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    grid-template-areas:
      "a a"
      "b b";
    width: 100vw;
    padding: 1rem 10%;
  }
  .movie-title-wrap {
    flex-direction: column;
    line-height: 2rem;
  }
  .movie-title {
    margin-bottom: 1rem;
  }
  .sub-info-wrap {
    flex-direction: column;
  }
  .sub-info-wrap > span {
    margin-bottom: 1rem;
  }
  .review-list {
    overflow: visible;
  }
}
