/* ======== header =========== */
body {
  background-color: #640ff310;
}
main {
  padding: 5rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 9rem;
  background: #ffffff90;
  backdrop-filter: blur(5px);
  box-shadow: 0rem 0.1rem 1rem #00000050;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  padding: 1rem;
  color: #640ff380;
}
.logo:hover {
  text-decoration: none;
  color: #644ff350;
}
.logo-image {
  width: 5rem;
}
.logo-title {
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
}
.searchInput {
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #640ff320;
  color: white;
  box-shadow: 0.1rem 0.1rem 0.2rem #640ff380;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  width: 7rem;
  height: 4rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.2rem #640ff380;
  background-color: #640ff320;
  color: blueviolet;
  cursor: pointer;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
.searchButton:hover {
  box-shadow: inset 0.1rem 0rem 0.3rem #640ff380;
}
.searchButton:active {
  box-shadow: inset 0.1rem 0rem 0.3rem #640ff380;
}

/* ============= Top Rated Section ================= */
.topRated {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin: 5rem auto; */
}
.topRated > h1 {
  font-size: 3rem;
  margin: 3rem;
  align-self: flex-start;
}
.movieList {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 4rem;
  width: 100%;
  padding: 4rem;
}
.cardAnchor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 19rem;
  padding: 0 1rem 1rem;
  background-color: #00000010;
  border-radius: 0.5rem;
  box-shadow: inset 0rem 0rem 0.1rem #640ff380;
}
.cardAnchor:hover {
  box-shadow: 0rem 1rem 2rem #640ff380;
  text-decoration: none;
}
.cardAnchor > img {
  align-self: center;
}
.cardAnchor > h2 {
  height: 2rem;
  margin-bottom: 1rem;
}
.poster {
  width: 20rem;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem #00000080;
}
.vote_average {
  margin-bottom: 1rem;
  color: blueviolet;
}
.overview {
  display: -webkit-box;
  width: 90%;
  height: calc(1rem * 3);
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 7px;
  }
  main {
    padding: 0px;
  }
}
